@model IEnumerable<Fairy.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
@using (Html.BeginForm("New" , "Books"))
{
    <button type="submit" class="btn btn-primary">New Book</button>
}

@if (!Model.Any())
{
    <p>We don't have any books yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Book</th> <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@Html.ActionLink(book.Name, "Edit", "Books", new { id = book.Id }, null)</td>
                    <td>@book.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

